/* Init Property & Value... */
* {
    padding: 0;
    margin: 0;
    font-family: arial;
    color: white;
    text-align: center;
}

.container{
    padding:1%;
}

/* Header Division Styling */
header {
    margin-bottom: .3%;
}
.mainhead {
    background-color: rgb(66, 66, 66);
}
.mainhead h1 {
    padding: 3% 45%;
    margin-bottom: .4%;
}
nav {
    background-color: rgb(102, 102, 102);
    margin-bottom: .4%;
}
nav h2 {
    padding: .6% 0;
}

/* Section Division Styling */
section {
    background-color: rgb(164, 164, 164);
    overflow: hidden;
    margin-bottom:.4%;
}
.slideshow {
    width:96%;
    margin-top:2%;
    margin-left:2%;
    background-color: rgb(110, 110, 110);
}
.slideshow h2 {
    padding:5%;
}
.gird {
    margin:2% 2%;
    height:300px;
}
.column {
    margin-right:2%;
    width:31.7%;
    height:300px;
    background-color: #fff;
    display:inline-block;
}
.column:last-child {
    margin-right:0;
}

/* Footer Division Styling */
footer {
    background-color: gray;
}
footer h2 {
    padding:2% 0;
}

