/*intialize margin and padding  to 0 */
*{
    margin:0;
    padding:0;
}
/*styling a parent class*/
.main{
    margin-left:6%;
    margin-top:2%;
    display: inline-block;
    width: 1200px;
    height: 600px;
}
/*styling a child class*/
.child{
    display: inline-block;
    width: 7.69531%;
    height: 100%;
    background-color: lightpink;
    border-left:2px solid lightskyblue;
    border-right:2px solid lightskyblue;
}

