/*img1 and img2 classes with 
same property name with same value*/

.img1, .img2  {
    margin: 20px 100px;
    background-color: rgb(8, 177, 255);
    border: 10px solid blue;
    height: 300px;
    width: 300px;
}

/* style p tags */

.img1 p,.img2 p {
    margin-left: 10px;
}