@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:ital,wght@0,300;0,400;1,300&display=swap');
*{
    padding:0;
    margin:0;
    font-family: 'Poppins',arial;
}
@media (min-width:991px){
    body{
        margin:0 auto!important;
    }
    .pm-0{
        padding:0!important;
        margin:0!important;
    }
    header{
        margin-top:30px;
    }
    /* navbar styling */
    .head-logo{
    
        align-self: center;
        width: 156px;
    }
    .centermenu{
        width:100%;
        text-align: center;
        justify-content: center;
    }
    .centermenu li{
       
        color:#1E1F4B!important;
        font-weight: bold;
        font-family: 'Inter',sans-serif;
        padding:0;
        margin-left:35px;
    }
    .centermenu a{
        font-size: 16px!important;
        text-align: center;
        color:#1E1F4B!important;
    }
    .rightmenu{
        display:flex;
        padding:0 7%;
    
    }
    .contact {
        font-size: 18px;
        font-weight: bold;
        font-family: 'Poppins',sans-serif;
        background: #706FE5;
        border-radius: 12px;
    }
    
    /* Banner Section */
    .banner{
        min-height:700px;
        display:flex;
        justify-content: center;
        align-content: center;
        font-family:Poppins;
    }
    .banner-content{
    
        align-self: center;
        padding:0 0 0 4%!important;
    }
    .banner-content{
        position: relative; 
    }
    .banner-content h1{
    
        color: #1E1F4B;
        font-weight: 700;
        font-size: 60px;
        line-height: 120px;
        letter-spacing: 0.2px;
    }
    .content-head img{
        
        position: absolute;
        right: 21%;
        top: 33%;
        width: 40%;
    }
    .banner p{
        text-align: justify;
        margin:5% 0 0 0 !important;
        font-weight: 400px;
        font-size: 20px;
        line-height: 36px;
    }
    
    section{
        min-height:1600px;
    }
    .brandblock{
        height:274px;
    
        background: rgba(112, 111, 229, 0.02);
    }
    .brandblock p{
        margin-top:30px;
        font-size: 20px;
        font-weight: 600;
    }
    .brandblock-item{
        height:274px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .productblock{
        margin-bottom: 168px!important;
    }
    .product-heading{
        margin-top:74px;
        margin-bottom:86px;
        font-size:24px;
    }
    .product-card{
        display: flex;
        align-items: center;
    }
    .product-img{
    
        width:90%;
        height: 180px;
        border-radius: 25px!important;
        padding:10px 20px;
        align-self: center;
    }
    .item-name{
        font-Weight:600;
        font-size: 16px;
    }
    .duration-img{
        width:200px;
    }
    .nav-click-button{
        width:114px;
    }
    
    .productdetails{
        margin-bottom: 200px!important;
    }
    .detailimage{
        border-radius: 25px!important;
        width: 596px;
        height: 448px;
    }
    
    .product-description{
        font-weight:400;
        font-size: 22px;
        line-height: 46px;
    }
    
    footer{
        width:100%;
        background-color:#2E3E5C;
    }
    .footer-logo{
        border-bottom: 1px solid white;
    }
    .foot-logo{
        padding:4% 0;
        width:85px;
    }
    .footer-nav{
    
        display:flex;
        justify-content: center;
        align-items: center;
        margin: 5% 0 6% 0;
        text-align: center;
    }
    .foot-list{
        padding:0 20px;
        background-color:#2E3E5C!important;
        border:none;
    }
    .foot-list a{
    
        font-family: poppins;
        font-weight:600px!important;
        color:white!important;
        font-size: 14px;
    }
    .rightmenu{
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .contact-us{
        align-self: center;
        padding:8px 15px;
        font-size: 18px;
        background: #706FE5;
        border-radius: 12px;
    }
    .copyright{
        margin:3% 0 0 0!important;
        padding-bottom:50px;
    }
}
@media (min-width:1200px){
    body{
        margin:0 auto!important;
    }
    .pm-0{
        padding:0!important;
        margin:0!important;
    }
    header{
        margin-top:30px;
    }
    /* navbar styling */
    .head-logo{
    
        align-self: center;
        margin-left:20px;
        width: 156px;
    }
    .centermenu{
        width:100%;
        text-align: center;
        justify-content: center;
    }
    .centermenu li{
       
        color:#1E1F4B!important;
        font-weight: bold;
        font-family: 'Inter',sans-serif;
        padding-left: 20px;
        padding-right: 20px;
        margin-left:20px;
    }
    .centermenu a{
        font-size: 16px!important;
        text-align: center;
        color:#1E1F4B!important;
    }
    .rightmenu{
        display:flex;
        padding:0 7%;
    
    }
    .contact {
        font-size: 18px;
        font-weight: bold;
        font-family: 'Poppins',sans-serif;
        background: #706FE5;
        border-radius: 12px;
    }
    
    /* Banner Section */
    .banner{
        min-height:700px;
        display:flex;
        justify-content: center;
        align-content: center;
        font-family:Poppins;
    }
    .banner-content{
    
        align-self: center;
        padding:0 0 0 4%!important;
    }
    .banner-content{
        position: relative; 
    }
    .banner-content h1{
    
        color: #1E1F4B;
        font-weight: 700;
        font-size: 60px;
        line-height: 120px;
        letter-spacing: 0.2px;
    }
    .content-head img{
        
        position: absolute;
        right: 21%;
        top: 33%;
        width: 40%;
    }
    .banner p{
        text-align: justify;
        margin:5% 0 0 0 !important;
        font-weight: 400px;
        font-size: 20px;
        line-height: 36px;
    }
    
    section{
        min-height:1600px;
    }
    .brandblock{
        height:274px;
    
        background: rgba(112, 111, 229, 0.02);
    }
    .brandblock p{
        margin-top:30px;
        font-size: 20px;
        font-weight: 600;
    }
    .brandblock-item{
        height:274px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .productblock{
        margin-bottom: 168px!important;
    }
    .product-heading{
        margin-top:74px;
        margin-bottom:86px;
        font-size:24px;
    }
    .product-card{
        display: flex;
        align-items: center;
    }
    .product-img{
    
        width:90%;
        height: 180px;
        border-radius: 25px!important;
        padding:10px 20px;
        align-self: center;
    }
    .item-name{
        font-Weight:600;
        font-size: 16px;
    }
    .duration-img{
        width:200px;
    }
    .nav-click-button{
        width:114px;
    }
    
    .productdetails{
        margin-bottom: 200px!important;
    }
    .detailimage{
        border-radius: 25px!important;
        width: 596px;
        height: 448px;
    }
    
    .product-description{
        font-weight:400;
        font-size: 22px;
        line-height: 46px;
    }
    
    footer{
        width:100%;
        background-color:#2E3E5C;
    }
    .footer-logo{
        border-bottom: 1px solid white;
    }
    .foot-logo{
        padding:4% 0;
        width:85px;
    }
    .footer-nav{
    
        display:flex;
        justify-content: center;
        align-items: center;
        margin: 5% 0 6% 0;
        text-align: center;
    }
    .foot-list{
        padding:0 20px;
        background-color:#2E3E5C!important;
        border:none;
    }
    .foot-list a{
    
        font-family: poppins;
        font-weight:600px!important;
        color:white!important;
        font-size: 14px;
    }
    .rightmenu{
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .contact-us{
        align-self: center;
        padding:8px 15px;
        font-size: 18px;
        background: #706FE5;
        border-radius: 12px;
    }
    .copyright{
        margin:3% 0 0 0!important;
        padding-bottom:50px;
    }
    
}
